

    
    <app-navbarindex></app-navbarindex>
    <!-- end of preloader -->
    

    <!-- Navigation -->


<div style="background-color: rgb(242, 242, 242);">
    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1> Notre blog vous éclaire sur les grandes questions juridiques!!</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Breadcrumbs -->
 

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container bootstrap snippets bootdey">
      <br>
        <div class="row">
            <h2 class="text-muted">Bienvenue sur notre blog
            </h2>
            <hr>
        </div>
        <br>
        <div class="row">
            <!-- posts -->
        <div class="col-md-8">
          <div  *ngFor="let blog of blogs" >
                <div class="panel blog-container">
                  <div class="panel-body">
                    <div class="image-wrapper">
                      <a class="image-wrapper image-zoom cboxElement" href="#">
                        <img
  [src]="'data:' + blog.type + ';base64,' + blog.image"
  alt="Blog Image"
  class="img-fluid rounded-start w-100"
  style="height: auto; max-height: 350px; object-fit: cover;" />

                        <div class="image-overlay"></div> 
                      </a>
                    </div>
                    
                    <h4>{{ blog.title }}</h4>
                
                    <p class="m-top-sm m-bottom-sm">
                      {{ blog.description | slice:0:300 }}...
                    </p>
                    <small class="text-muted">
                      Par <a href="#"><strong> Maitre :{{ blog.avocat?.firstname || 'Avocat inconnu' }} {{ blog.avocat?.lastname || 'Avocat inconnu' }} Le {{ blog.createdAt | date:'dd/MM/yyyy' }}</strong></a>
                    </small>
                    <span class="post-like text-muted tooltip-test" data-toggle="tooltip" data-original-title="I like this post!">
                      <i class="fa fa-heart"></i> <span class="like-count">25</span>
                    </span>
                  </div>
                </div>  
              <br>
            </div>   

        </div>
        <div class="col-md-4">
          <h4 class="headline text-muted">
          Les nouveau  POST
            <span class="line"></span>
          </h4>
        
          <div *ngFor="let blog of latestBlogs" class="media popular-post mb-3 p-2 bg-white rounded shadow-sm d-flex" style="height: 80px;">

              <img 
                [src]="'data:' + blog.type + ';base64,' + blog.image"
                alt="Popular Post"
                width="60"
                height="60"
                class="rounded"
                style="object-fit: cover;" />
    
            <div class="media-body overflow-hidden">
              <strong class="d-block text-truncate">{{ blog.title }}</strong>
              <small class="d-block text-muted text-truncate">
                {{ blog.description | slice:0:60 }}...
              </small>
            </div>
          </div>
        </div>
        
            
            
      </div>
    </div>
  </div>