<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon ">
        <img src="./assets/img/logoo.png" alt="Logo" style="width: 200px; height: 200px;" />
      </div>
  
    </a>
    
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
  
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard Manager </span></a>
    </li>
  
    <!-- Divider -->
    <hr class="sidebar-divider">
  
    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>
  
    <!-- Nav Item - Pages Collapse Menu -->
    
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboardm/cabinet">
          <i class="fas fa-briefcase"></i>
          <span>Gestion Cabinets</span>
      </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  [routerLink]="['/dashboardm/DossierJuridique', cabinetId]">
        <i class="fas fa-file-alt"></i>
        <span>Les Dossiers de cabinet </span>
    </a>
</li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-user-tie"></i>
            <span>Gestion Avocats </span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded">
                <!-- <h6 class="collapse-header">Custom Components:</h6> -->
               
              <a class="nav-link" [routerLink]="['/dashboardm/listeAvocatM', cabinetId]">
                  <i class="fas fa-user-tie"></i>
                  <span> Avocats Actif </span>
              </a>
              <a class="nav-link" [routerLink]="['/dashboardm/AvocatArchivee', cabinetId]">
          
                  <i class="fas fa-archive"></i>
                  <span>Avocats  Archivés</span>
              </a>
            </div>
        </div>
    </li> 
   
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwoo"
          aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-users"></i>
          <span>Gestion  Assistants</span>
      </a>
      <div id="collapseTwoo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="py-2 collapse-inner rounded">
              <!-- <h6 class="collapse-header">Custom Components:</h6> -->
             
              <a class="nav-link" [routerLink]="['/dashboardm/listeAssistant', cabinetId]">
                  <i class="fas fa-users"></i>
                  <span>  AssistantsActif</span>
              </a>
              <a class="nav-link"  [routerLink]="['/dashboardm/AssistantArchivee', cabinetId]">
                  <i class="fas fa-archive"></i>
                  <span> Assistants Archivés</span>
              </a>
          </div>
      </div>
  </li>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" -->
            <!-- aria-expanded="true" aria-controls="collapseUtilities"> -->
            <!-- <i class="fas fa-fw fa-wrench"></i> -->
            <!-- <span>Utilities</span> -->
        <!-- </a> -->
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
                <a class="collapse-item" href="utilities-border.html">Borders</a>
                <a class="collapse-item" href="utilities-animation.html">Animations</a>
                <a class="collapse-item" href="utilities-other.html">Other</a>
            </div>
        </div>
    </li>
  
    <!-- Divider -->
    <hr class="sidebar-divider">
  
    <!-- Heading -->
    <!-- <div class="sidebar-heading"> -->
     <!-- Gestion platforme  -->
    <!-- </div> -->
    <!-- <li class="nav-item"> -->
      <!-- <a class="nav-link" href="charts.html"> -->
          <!-- <i class="fas fa-fw fa-chart-area"></i> -->
          <!-- <span>Gestion blog </span></a> -->
  <!-- </li> -->
  <!-- <li class="nav-item"> -->
      <!-- <a class="nav-link" href="charts.html"> -->
          <!-- <i class="fas fa-fw fa-chart-bar"></i> -->
          <!-- <span>Gestion  info platforme </span></a> -->
  <!-- </li> -->
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" -->
            <!-- aria-expanded="true" aria-controls="collapsePages"> -->
            <!-- <i class="fas fa-fw fa-folder"></i> -->
            <!-- <span>Pages</span> -->
        <!-- </a> -->
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="login.html">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>
  
    <!-- Nav Item - Charts -->
  
  
    <!-- Nav Item - Tables -->
    <!-- <li class="nav-item"> -->
        <!-- <a class="nav-link" href="tables.html"> -->
            <!-- <i class="fas fa-fw fa-table"></i> -->
            <!-- <span>Tables</span></a> -->
    <!-- </li> -->
  
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboardm/EditProfile">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Edit profile</span></a>
  </li>
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" (click)="logout()"></button>
    </div>
  
    <!-- Sidebar Message -->
    <!-- <div class="sidebar-card d-none d-lg-flex"> -->
        <!-- <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="..."> -->
        <!-- <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p> -->
        <!-- <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a> -->
    <!-- </div> -->
  
  </ul>
  